body{ 
  width: 55%;  
  font: 100%, "engravers mt";
  border: 2px solid red;
  padding: 5px; 
  margin: 0 auto;
  background-color: #CCC;
  background-image: url(" ../images1/russia.jpg");
  background-repeat: no-repeat; 
  background-position: top;  
  }
 { 
 font-family: "Noteworthy-light";
}
ul,ol { text-align: none;
}

.main-title{ 
  font-family: "engravers mt"; 
  font-size: 2.1875em; /"35px"/ red;  
  color: red;
  text-align: center;
 
  text-decoration: underline;
 
  text-shadow: 2px 2px 2px #111;
 }
 
 a:link {
   color: red;
 }
 
 a:visited { 
   color: black;
 }
 
 a:hover{
   color: white;
 }
 
 a:active{
   color: gray;
 }
 
 
li{
  color: black;
 }

h2,h3,h4,h5 { 
  font-family: "engravers mt";
  font size: 1.5em; 
} 

ul {
  list-style-type: none; 
}
img {
  max-width: 100%;
  border: 4px solid red;
 
  
}
#img1{
  /"border: 4px solid red;"/ 
  width: 0.14764267%;
  float: left;
  margin-left: 345px;
  margin-bottom:1.4375em; /"-23px"-/
}
#img2 {
  /"border: 4px solid red;"/
  width: 0.26880394%;
  max-width: 100%;
  
  
}

.title4{ 
  margin-top: 45px;
  clear: left;
  
}
.title5 {
  font-size: 0.75em; /"12px"/
  margin-top: 45%;
}
.lastp{
  margin-top: 6%;
 
}


#wepons {
clear: left;
  width:0.55696202% /"440px/790px"/
}
.opening{
  float: left;
}

#title3{
  font-size: 1.25em; /"20px"/
  width: 0.50632911% /"400px/790px"/
  

}
#listspecs{
 clear: right;
 width: 0.41772151% /"330px/790px"/
}

.variants {
  font-size: 1.4375em; /"23px"/
  margin-top: 50%;
  max-width: 100%;
  float: left;  
  
}

.TGA {
background: red; 
width:7%;
max-width: 100%; 
font-family: Baskerville; 
border: solid 2px black; 
}

a{
  font-family: "engravers mt";
  
}
#nav{
  list-style:none;
  padding: 0;
  margin: 0 auto;
  margin-left: 26%;
  margin-top: 5%; 
  width: 0.61881188% /"500px/790px"/
  background: white; 
  overflow: hidden;  
} 

#nav li{
  width: 0.12658227% /"100px/790px"/
  max-width: 100%;
  background:silver;
  float: left;
  color: red;
  height: 30px;
  line-height: 30px;
  border: solid red 2px;
  padding: 3px;  
  margin-left: 5%; 
  margin-top: 5%;
}

p{
font-size: 100%;
}

/-===============Media Quary============================-/

@media screen and (min-width: 600px) and (max-width: 795px){ 

 body{
 background-color:blue;
  }
  
}

@media screen and (min-width: 480px) and (max-width: 767px){

 body{
 background-color:green;
  }
   #img1 {display: none;
   }
}


@media screen and (max-width: 479px) {

 body{
 background-color:white;
  } 
 #img1 {display: none;
 }
 .TGA {display: none;
 }

}



